<div class="client-container">
  <app-navbar />

  <div class="form-client-container">
    <div class="header-client-form">
      <img src="../../assets/icon/user-photo-icon.svg" />
      <ion-button id="button-add-photo">Añadir foto</ion-button>
      <ion-button id="button-delete-photo">Borrar cliente</ion-button>
    </div>
    <div class="form-inputs-container">
      <ion-item>
        <ion-input placeholder="Nombre" />
      </ion-item>
      <ion-item>
        <ion-input placeholder="Apellidos" />
      </ion-item>
      <ion-item>
        <ion-input placeholder="Direccion" />
      </ion-item>
      <div class="form-dni-phone-container">
        <ion-item class="dni-container">
          <ion-input placeholder="Dni" />
        </ion-item>
        <ion-item>
          <ion-input placeholder="Telefono" />
        </ion-item>
      </div>
      <ion-item>
        <ion-input placeholder="Correo" />
      </ion-item>
    </div>
    <ion-button id="button-save">Guardar</ion-button>
  </div>
</div>
