<div class="client-container">
  <app-navbar />
  <div class="form-client-container">
    <div class="header-client-form">
      <img src="../../assets/icon/user-photo-icon.svg" />
      <ion-button id="button-add-photo">Añadir foto</ion-button>
      <ion-button id="button-delete-photo">Borrar cliente</ion-button>
    </div>
    <form [formGroup]="formClient">
    <div class="form-inputs-container">
      <ion-item>
        <ion-input 
        formControlName="userId"
        type="text"
        placeholder="user id" />
      </ion-item>
      <ion-item>
        <ion-input 
        formControlName="name"
        type="text"
        placeholder="Nombre" />
      </ion-item>
      <ion-item>
        <ion-input 
        formControlName="lastName"
        type="text"
        placeholder="Apellidos" />
      </ion-item>
      <ion-item>
        <ion-input       
        formControlName="address"
        type="text"
        placeholder="Direccion" />
      </ion-item>
      <div class="form-dni-phone-container">
        <ion-item class="dni-container">
          <ion-input 
          formControlName="dni"
          type="text"
          placeholder="Dni" />
        </ion-item>
        <ion-item>
          <ion-input 
          formControlName="phoneNumber"
          type="text"
          placeholder="Telefono" />
        </ion-item>
      </div>
      <ion-item>
        <ion-input 
        formControlName="email"
        type="text"
        placeholder="Correo" />
      </ion-item>
    </div>
  </form>
  <ion-button (click)="editingForm ? editClient() : addClient()" id="button-save"> {{ editingForm ? 'Editar' : 'Guardar' }}</ion-button>
</div>
</div>
