<div class="budgets-container">
  <app-navbar />
  <div class="info-budget-container">
    <section class="info-budgets-section">
      <header class="title-searchbar-header">
        <h1>Presupuestos</h1>
        <ion-searchbar placeholder="Buscar clientes"></ion-searchbar>
      </header>
    </section>
    <section class="budgets-info-container">
      <table>
        <thead>
          <tr>
            <th>Email</th>
            <th>Nombre de usuario</th>
            <th>Contraseña</th>
          </tr>
        </thead>
  
        <tbody>
          <tr *ngFor="let budget of budgets">
            <td>{{ budget.userId }}</td>
            <td>{{ budget.brand }}</td>
            <td>{{ budget.model }}</td>
            <td>{{ budget.horsepower }}</td>
            <ion-button (click)="addInForm(budget, budget.id)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="deleteBudget(budget.id)">
              <ion-icon  name="trash-outline"></ion-icon>
            </ion-button>

          </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>

<!-- //-------------------------------------------------------------------------// -->
<!-- <div class="table-data-container">
  <div class="show-data-container">
    <div class="title-table-container"><h1>Usuarios</h1></div>
    <table>
      <thead>
        <tr>
          <th>Email</th>
          <th>Nombre de usuario</th>
          <th>Contraseña</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let budget of budgets">
          <td>{{ budget.brand }}</td>
          <td>{{ budget.model }}</td>
          <td>{{ budget.horsepower }}</td>
          <ion-button>
            <img src="../../assets/images/trash.svg" />
          </ion-button>
          <ion-button>
            <img src="../../assets/images/trash.svg" />
          </ion-button>
          <input
            type="image"
            src="../../assets/images/trash.svg"
            alt="Enviar formulario"
          />
          <input
            type="image"
            src="../../assets/images/edit.svg"
            alt="Enviar formulario"
          />
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
