<div class="budgets-container">
  <app-navbar />
  <div class="budgets-content">
    <div class="budgets-form">
      <div class="image-container">
        <img src="../../assets/icon/Icon-consultify-removebg-preview.png" />
      </div>
      <h1>Formulario</h1>
      <form [formGroup]="formBudget">
        <div class="form-inputs-container">
          <!-- <ion-item>
            <ion-input
              formControlName="userId"
              type="text"
              placeholder="Id Usuario"
            ></ion-input>
          </ion-item> -->
          <div class="first-row-form">
            <ion-item>
              <ion-input
                formControlName="name"
                type="text"
                placeholder="Nombre"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                formControlName="lastName"
                type="text"
                placeholder="Apellidos"
              ></ion-input>
            </ion-item>
          </div>
          <div class="second-row-form">
            <ion-item>
              <ion-input
                formControlName="brand"
                type="text"
                placeholder="Marca"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                formControlName="model"
                type="text"
                placeholder="Modelo"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                formControlName="tuition"
                type="text"
                placeholder="Matrícula"
              ></ion-input>
            </ion-item>
          </div>
          <div class="third-row-form">
            <ion-item>
              <ion-input
                formControlName="kilometers"
                type="number"
                placeholder="Kilómetros"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                formControlName="horsepower"
                type="number"
                placeholder="Caballos de Fuerza"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-input
                formControlName="insuranceName"
                type="text"
                placeholder="Nombre del Seguro"
              ></ion-input>
            </ion-item>
          </div>
          <div class="fourth-row-form">
            <div class="ionList-container">
              <ion-list>
                <ion-select formControlName="selectedTypeBudget" interface="popover" placeholder="Seguro">
                  <ion-select-option value="car">Coche</ion-select-option>
                  <ion-select-option value="motorbike">Moto</ion-select-option>
                </ion-select>
              </ion-list>
              <ion-list>
                <ion-select formControlName="selectedTypeVehicle" interface="popover" placeholder="Combustible">
                  <ion-select-option value="Gasoline"
                    >Gasolina</ion-select-option
                  >
                  <ion-select-option value="Diesel">Gasoil</ion-select-option>
                  <ion-select-option value="Electric"
                    >Eléctrico</ion-select-option
                  >
                  <ion-select-option value="Hybrid">Híbrido</ion-select-option>
                </ion-select>
              </ion-list>
            </div>
            <ion-item>
              <ion-input
                formControlName="price"
                type="number"
                placeholder="Precio"
              ></ion-input>
            </ion-item>
          </div>
        </div>
        <div class="button-container">
          <ion-button (click)="addBudget()" id="button-save"
            >Guardar</ion-button
          >
        </div>
      </form>
    </div>

    <div class="budgets-list">
      <p>Lista</p>
      <table>
        <thead>
          <tr>
            <th>Email</th>
            <th>Nombre de usuario</th>
            <th>Admin</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let budget of budgets">
            <td>{{ budget.userId }}</td>
            <td>{{ budget.brand }}</td>
            <td>{{ budget.model }}</td>
            <td>{{ budget.horsepower }}</td>
            <ion-button (click)="addInForm(budget, budget.id)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="deleteBudget(budget.id)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
