<div class="budgets-container">
  <app-navbar />
  <div class="info-budget-container">
    <div class="info-budgets-section">
      <header class="title-searchbar-header">
        <h1>Presupuestos</h1>
        <ion-searchbar [(ngModel)]="searchedBudgets"></ion-searchbar>
        <ion-button (click)="goToBudgetsForm()">Crear presupuesto</ion-button>
      </header>
    </div>
    <div class="budgets-info-container">
      <table>
        <thead>
          <tr>
            <th>Id usuario</th>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Potencia</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let budget of searchBudgets()">
            <td>{{ budget.userId }}</td>
            <td>{{ budget.name }}</td>
            <td>{{ budget.brand }}</td>
            <td>{{ budget.model }}</td>
            <td>{{ budget.horsepower }}</td>
            <div class="button-container">
            <ion-button (click)="addInForm( budget)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="deleteBudget(budget.id)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </div>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
