.budgets-container {
    display: flex;

    h1 {
        color: black;
    }
}

.budgets-content {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 90%;

}

.budgets-form {
    background-color: #F0F0F0;
    width: 70%;
    height: 95vh;
    margin: 20px;
    ;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    .first-row-form {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        ion-item {
            width: 100%;
        }

        ion-input {
            width: 100%;


        }
    }

    .second-row-form {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        ion-item {
            width: 100%;
        }

        ion-input {
            width: 100%;


        }
    }

    .third-row-form {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        ion-item {
            width: 100%;
        }

        ion-input {
            width: 100%;


        }
    }

    .fourth-row-form {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        ion-item {
            width: 50%;
        }

        ion-input {
            width: 100%;


        }

        .ionList-container {
            display: flex;
         
            width: 90%;

            ion-list {
                background-color: #F0F0F0;
                width: 100%;
                height: fit-content;
                
            }

            ion-select {
                background-color: white;
                border-radius: 20px;
                border: 1px solid black;
                width: 100%;
                height: 35px;
                color: black;
            }
        }

    }

    form {
        width: 90%;
        height: 90%;
        --background: #F0F0F0;

    }

    ion-item {
        --background: #F0F0F0;
        --border-style: none;

    }

    ion-input {
        background-color: white;
        border-radius: 20px;
        height: 35px;
        border: 1px solid black;
        --placeholder-color: black;
        color:black;

    }




    .button-container {
        margin-top: 20px;
        display: flex;
        justify-content: center;

        ion-button {
            --background: #FC2020;
            font-size: 20px;
            margin-top: 25px;
            margin-bottom: 25px;
            margin: auto;
        }

    }

    .image-container {

        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: -20px;

        // margin-top: 20px;
        img {
            width: 100px;
            height: 100px;
        }
    }
}

.budgets-list {
    background-color: #F0F0F0;
    width: 60%;
    margin: auto;
    height: 100%;
    color: black;
}