.budgets-container {
    display: flex;
    width: 100%;
}

.info-budget-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.info-budgets-section{
    width: 100%;
}
.title-searchbar-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    
    h1 {
        font-size: 64px;
        color: black;
        margin: 50px;

    }

    ion-searchbar {
        --background: white;
        --border-radius: 15px;
        width: 70%;
        height: 74px;
    }
    ion-button{
        --background: #FC2020;

    
    }
}

.budget-info {


    p {
        color: black;
    }
}

.budgets-info-container {
    width: 70%;
    height: 500px; /* Altura fija o puedes usar max-height */
    overflow-y: auto; /* Habilita el desplazamiento */
    background: #F0F0F0;
}
.budgets-info-container::-webkit-scrollbar {
    width: 10px;
}

.budgets-info-container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Color de fondo más transparente */
}

.budgets-info-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); /* Color del thumb más transparente */
    border-radius: 10px;
}

.budgets-info-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Color al pasar el mouse más oscuro pero aún transparente */
}

table {
   
    margin:auto;

    color: black;
    width: 80%;
    height: 90%
 ;
 }
 th, td {
    padding-top: 20px;
    width: 25%;
    text-align: left;
    vertical-align: top;

 }

 .button-container{
    margin-left: 40%;

    display:flex;
    ion-button{
 
        color:black;
        --background: #F0F0F0;
    }
 }