<div class="profile-container">
  <app-navbar />
  <div class="info-profile-container">
    <div class="top-profile-container">
      <div class="image-user-container" *ngFor="let advisers of adviser">
        <img
          *ngIf="advisers.filename"
          src="http://localhost:4000/images/{{advisers.filename}}"
          alt="image"
        />
      </div>
      <ion-fab slot="fixed" vertical="start" horizontal="end" [edge]="true">
        <ion-fab-button>
          <ion-icon name="settings-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="bottom">
          <ion-fab-button routerLink="/start" (click)=" logoutAndRedirect()">
            <ion-icon name="log-in"></ion-icon>
          </ion-fab-button>
          <ion-fab-button href="/assets/html/Bienvenidos.html">
            <ion-icon name="help-circle-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
      <div class="profile-mail-container">
        <h2>Perfil</h2>
        <div class="mail-container">
          <p>Correo</p>
          <p>{{userEmail}}.es</p>
        </div>
      </div>
    </div>

    <div class="bottom-profile-container">
      <div class="card-container">
        <ion-card>
          <ion-card-header>
            <img src="../../../assets/icon/client-profile-icon.svg" />
          </ion-card-header>
          <ion-card-content> Clientes </ion-card-content>
          <ion-card-content> {{clientsCount}}</ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <img src="../../../assets/icon/budgets-profile-icon.svg" />
          </ion-card-header>
          <ion-card-content> Clientes </ion-card-content>
          <ion-card-content> {{budgetsCount}} </ion-card-content>
        </ion-card>
      </div>
      <div class="note-container">
        <form [formGroup]="formNote" class="note-input-container">
          <ion-input
            formControlName="note"
            placeholder="Añade tu nota"
          ></ion-input>
          <ion-button (click)="addNote()"
            ><ion-icon name="save"></ion-icon
          ></ion-button>
        </form>
        <h2>Notas</h2>
        <div class="note-line-container">
          <div *ngFor="let notes of note">
            <p>{{ notes.info }}</p>
            <ion-button (click)="deleteNote(notes.id)"
              ><ion-icon name="trash"></ion-icon
            ></ion-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
