
<div class="client-preview-container">
  <div class="client-info">
    <img src="../../../assets/icon/user-photo-icon.svg" />
    <p>Juan Martin</p>
    <p>10/10</p>
    <p>Seguro Moto</p>
  </div>
  <div class="client-info">
    <img src="../../../assets/icon/user-photo-icon.svg" />
    <p>Juan Martin</p>
    <p>10/10</p>
    <p>Seguro Moto</p>
  </div>
  <div class="client-info">
    <img src="../../../assets/icon/user-photo-icon.svg" />
    <p>Juan Martin</p>
    <p>10/10</p>
    <p>Seguro Moto</p>
  </div>
  <div class="client-info">
    <img src="../../../assets/icon/user-photo-icon.svg" />
    <p>Juan Martin</p>
    <p>10/10</p>
    <p>Seguro Moto</p>
  </div>
  <div class="button-container">
    <ion-button>Ver más</ion-button>
  </div>
</div>
