<div class="client-preview-container">
  <div class="client-info">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Telefono</th>
        </tr>
      </thead>
      <tbody *ngFor="let client of clients">
        <tr>
          <td>{{ client.id }}</td>
          <td>{{ client.name }} {{ client.lastName }}</td>
          <td>{{ client.email }}</td>
          <td>{{ client.phone }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
