<div class="login-container">
  
  <div class="image-container">
    <img src="../../../assets/images/photo-start.png" />
  </div>
  <ion-fab slot="fixed" vertical="start" horizontal="end" [edge]="true">
    <ion-fab-button href="/assets/html/Bienvenidos.html">
      <ion-icon name="help-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="login-form-container">
    
    <img src="../../../assets/icon/Icon-consultify-removebg-preview.png" />
    <div>
      <h1>Inicio</h1>
    </div>
    <form   [formGroup]="loginForm" >
      <div class="ion-text-center">
        <ion-item>
          <ion-input
          formControlName="username"
            placeholder="Usuario"
            ngModel
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
          formControlName="password"
            type="password"
            placeholder="Contraseña"
            ngModel
            required
          ></ion-input>
        </ion-item>
      </div>
      <div class="ion-text-center">
        <ion-button  (click)="login()"  expand="block"
          >Inicio de sesión</ion-button
        >
      </div>
    </form>
  </div>
</div>
