<div class="login-container">
  <div class="image-container">
    <img src="../../../assets/images/photo-start.png" />
  </div>

  <div class="login-form-container">
    <img src="../../../assets/icon/Icon-consultify-removebg-preview.png" />
    <div>
      <h1>Inicio</h1>
    </div>
    <form #form="ngForm" (ngSubmit)="login(form)">
      <div class="ion-text-center">
        <ion-item>
          <ion-input
            name="username"
            placeholder="Usuario"
            ngModel
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            name="password"
            type="password"
            placeholder="Contraseña"
            ngModel
            required
          ></ion-input>
        </ion-item>
      </div>
      <div class="ion-text-center">
        <ion-button type="submit" [disabled]="form.invalid" expand="block"
          >Inicio de sesión</ion-button
        >
      </div>

      <ion-row> </ion-row>
    </form>
  </div>
</div>
