.login-container {
  display: flex;
}
ion-fab-button{
  --color:black;
  --background:#FC2020 ;
}

.image-container {
  width: 50%;
  height: 100vh;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

}

.login-form-container {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: 80px;
    color: black;

  }

  img {
    width: 165px;
    height: 165px;
  }


}


.ion-text-center {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ion-item {
    border: 1px solid black;
    margin: 20px;
    width: 400px;
    height: 48px;
    border-radius: 20px;
    --background: white; // Reemplaza #COLOR con tu color deseado


  }

  ion-input {
    --color: black;
    font-size: 22px;

  }

  ion-button {
    --background: #FC2020;
    --border-radius: 20px;
    font-size: 22px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 333px;
    height: 66px;
  }
}