<div class="right-bar-container">
  <h1>Presupuestos de clientes</h1>
  <div class="info-budget-container">
    <p>Juan Martin</p>
    <p>Hogar</p>
    <p>145,23€</p>
  </div>
  <div class="info-budget-container">
    <p>Juan Martin</p>
    <p>Hogar</p>
    <p>145,23€</p>
  </div>
  <div class="info-budget-container">
    <p>Juan Martin</p>
    <p>Hogar</p>
    <p>145,23€</p>
  </div>
  <div class="info-budget-container">
    <p>Juan Martin</p>
    <p>Hogar</p>
    <p>145,23€</p>
  </div>

</div>