<div class="clients-container">
  <app-navbar />
  <div class="info-clients-container">
    <div class="info-clients-container">
      <header class="title-searchbar-header">
        <h1>Clientes</h1>
        <ion-searchbar [(ngModel)]="searchedClients"/>
        <ion-button (click)="goToClientsForm()">Crear cliente</ion-button>
      </header>
    </div>
    <div class="clients-info-container">
      <table>
        <thead>
          <tr>
            <th>Id cliente</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Nº de cuenta</th>
          </tr>
        </thead>
  
        <tbody>
          <tr *ngFor="let client of searchClients()">
            <td>{{ client.id }}</td>
            <td>{{ client.name }}</td>
            <td>{{ client.lastName }}</td>
            <td>{{ client.dni }}</td>
            <td>{{ client.numberAccount }}</td>
            <div class="button-container">
            <ion-button (click)="addInForm(client)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="deleteClient(client.id)">
              <ion-icon  name="trash-outline"></ion-icon>
            </ion-button>
            </div>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
