.main-container{
    display: flex;

}
h1, p{
    margin-left: 75px;
    margin-top:40px;
    color:black;
    
}

.client-preview-container{

    margin-left: 50px;
    width: 80%; 
    background-color: black;
    height: 30%;
}



.carousel-container {
  margin-left: 50px;
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 600px; // o el tamaño que prefieras

    padding-bottom: 20px;
    padding-top: 20px;

  
    img {
  
margin: auto;
      height: 100%;
      width: 100%;
      display: none;
      object-fit: cover;
    }
  
    button {
      opacity: 70%;
      width: 35px;
      height: 25px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
  
      &:first-child {
        left: 0;
      }
  
      &:last-child {
        right: 0;
      }
    }

  }
.info-main-container{
width: 60%;
margin-left: 50px;
}