<div class="form-user-container">
  <div class="form-container">
    <div class="image-container">
      <img src="../../assets/icon/Icon-consultify-removebg-preview.png" />
    </div>
    <div class="title-form-container">
      <h1>Crear usuario</h1>
    </div>
    <form [formGroup]="formRegister">
      <div>
        <ion-item class="input-container">
          <ion-input
            formControlName="username"
            type="text"
            placeholder="Nombre de usuario"
          ></ion-input>
        </ion-item>
        <ion-item class="input-container">
          <ion-input
            formControlName="email"
            type="email"
            placeholder="Correo"
          ></ion-input>
        </ion-item>
        <ion-item class="input-container">
          <ion-input
            formControlName="password"
            type="password"
            placeholder="Contraseña"
          ></ion-input>
        </ion-item>
        <ion-item class="input-container">
          <ion-input
            formControlName="confirm"
            type="password"
            placeholder="Repita la contraseña"
          ></ion-input>
        </ion-item>
      </div>
      <ion-checkbox formControlName="isAdmin" class="checkbox-container" labelPlacement="end">
        <p>Admin</p>
      </ion-checkbox>

      <div>
        <ion-button
          (click)="editButtonPressed ? editUser() : register()"
          [disabled]="formRegister.invalid"
        >
          {{ editButtonPressed ? 'Editar' : 'Register' }}
        </ion-button>
      </div>
    </form>
  </div>

  <!-- //--------------------------------------------------------------------------// -->
  <div class="table-data-container">
    <div class="show-data-container">
      <div class="title-table-container"><h1>Usuarios</h1></div>
      <table>
        <thead>
          <tr>
            <th>Email</th>
            <th>Nombre de usuario</th>
            <th>Admin</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.email }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.isAdmin }}</td>
            <ion-button (click)="addInForm(user, user.id)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="deleteUser(user.id)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
