<div class="budget-container">
  <app-navbar />
  <div class="form-budget-container">
    <form [formGroup]="formBudget">
      <div class="form-inputs-container">
        <div class="row-one">
          <ion-item id="idClient-container">
            <ion-input
              formControlName="clientId"
              type="text"
              [placeholder]="formBudget.get('clientId')?.invalid && formBudget.get('clientId')?.touched ? 'Id Cliente obligatorio' : 'Id Cliente'"
            ></ion-input>
          </ion-item>

          <ion-item id="name-container">
            <ion-input
              formControlName="name"
              type="text"
              [placeholder]="formBudget.get('name')?.invalid && formBudget.get('name')?.touched ? 'Nombre obligatorio' : 'Nombre'"
            ></ion-input>
          </ion-item>

          <ion-item id="lastname-container">
            <ion-input
              formControlName="lastName"
              type="text"
              [placeholder]="formBudget.get('lastName')?.invalid && formBudget.get('lastName')?.touched ? 'Apellidos obligatorios' : 'Apellidos'"
            ></ion-input>
          </ion-item>
        </div>

        <div class="row-two">
          <div class="typeBudget-container">
            <ion-label>Tipo de Presupuesto</ion-label>
            <ion-select
              formControlName="typeBudget"
              placeholder="Selecciona Tipo"
            >
              <ion-select-option value="Moto">Moto</ion-select-option>
              <ion-select-option value="Coche">Coche</ion-select-option>
            </ion-select>
          </div>

          <div class="typeVehicle-container">
            <ion-label>Tipo de Vehículo</ion-label>
            <ion-select
              formControlName="typeVehicle"
              placeholder="Selecciona Tipo"
            >
              <ion-select-option value="Gasolina">Gasolina</ion-select-option>
              <ion-select-option value="Híbrido Eléctrico"
                >Híbrido Eléctrico</ion-select-option
              >
              <ion-select-option value="Diésel">Diésel</ion-select-option>
            </ion-select>
          </div>
        </div>

        <div class="row-three">
          <ion-item>
            <ion-input
              formControlName="brand"
              type="text"
              [placeholder]="formBudget.get('brand')?.invalid && formBudget.get('brand')?.touched ? 'Marca obligatoria' : 'Marca'"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              formControlName="model"
              type="text"
              [placeholder]="formBudget.get('model')?.invalid && formBudget.get('model')?.touched ? 'Modelo obligatorio' : 'Modelo'"
            ></ion-input>
          </ion-item>
        </div>

        <div class="row-four">
          <ion-item>
            <ion-input
              formControlName="tuition"
              type="text"
              [placeholder]="formBudget.get('tuition')?.invalid && formBudget.get('tuition')?.touched ? 'Matrícula inválida (4 números y 3 letras)' : 'Matrícula'"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              formControlName="kilometers"
              type="number"
              [placeholder]="formBudget.get('kilometers')?.invalid && formBudget.get('kilometers')?.touched ? 'Kilómetros obligatorios' : 'Kilómetros'"
            ></ion-input>
          </ion-item>
        </div>

        <div class="row-five">
          <ion-item>
            <ion-input
              formControlName="horsepower"
              type="number"
              [placeholder]="formBudget.get('horsepower')?.invalid && formBudget.get('horsepower')?.touched ? 'Caballos de Fuerza obligatorios' : 'Caballos de Fuerza'"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              formControlName="insuranceName"
              type="text"
              [placeholder]="formBudget.get('insuranceName')?.invalid && formBudget.get('insuranceName')?.touched ? 'Nombre del Seguro obligatorio' : 'Nombre del Seguro'"
            ></ion-input>
          </ion-item>
        </div>

        <div class="row-six">
          <ion-item>
            <ion-input
              formControlName="price"
              type="number"
              [placeholder]="formBudget.get('price')?.invalid && formBudget.get('price')?.touched ? 'Precio obligatorio y positivo' : 'Precio'"
            ></ion-input>
          </ion-item>

          <ion-button
            (click)="editingForm ? editBudget() : addBudget()"
            id="button-save"
          >
            {{ editingForm ? 'Editar' : 'Guardar' }}
          </ion-button>
        </div>
      </div>
    </form>
  </div>
</div>
