.budget-container {
    display: flex;


}

.form-budget-container {
    width: 80%;
    height: 90vh;
    margin: auto;
    background: #F0F0F0;

}


#button-add-photo {
    --background: #FC2020;
    --border-radius: 10px;
    width: 224px;
    height: 52px;
}

#button-delete-photo {
    --background: white;
    --color: black;
    --border-radius: 10px;
    width: 224px;
    height: 52px;
}

.header-budget-form {
    display: flex;
    justify-content: center;
    align-items: center;


}

#button-save {
    --background: #FC2020;
    width: 224px;
    height: 52px;
    --border-radius: 10px;
}

.form-inputs-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.form-inputs-container ion-item {
    border: 1px solid black;
    margin: 20px;

    border-radius: 20px;
    --background: white;
    width: 906px;
    height: 52px;

}

.form-inputs-container ion-input {
    --color: black;
    font-size: 22px;
    width: 906px;
    height: 52px;
    width: 906px;
    height: 52px;
}

.form-dni-phone-container {}

.dni-container {
    ion-item {
        width: 313px;
        height: 52px;
    }

}

.row-one {
    
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;

    #idClient-container {
        width: 10%;
        height: 52px;
    }

    #name-container {
        width: 35%;
        height: 52px;
    }

    #lastname-container {
        width: 35%;
        height: 52px;
    }
}

.row-two {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    color: black;

    .typeVehicle-container {
        border: 1px black solid;
        background: white;
        padding: 10px;
        border-radius: 20px;
    }

    .typeBudget-container {
        padding: 10px;
        border: 1px black solid;
        background: white;
     border-radius: 20px;

    }

}
.row-three {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    ion-item{
        width: 40%;

    }
}
.row-four {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    ion-item{
        width: 40%;

    }
}
.row-five {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    ion-item{
        width: 40%;

    }
}
.row-six {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    ion-item{
        width: 30%;

    }
}